.ninenine-card {
  max-width: 350px;
  height: 366px;
  background-color: #FFFFFF;
  border-radius: 100px 0px 30px 0px;
  padding-top: 64px;
  padding-bottom: 56px;
  box-shadow: 0px 3px 10px #D8D8D8;
}

.big-number {
  margin-top: -34px;/*可以讓單一元素中看起來有不同的padding*/
  margin-left: 61px;
  width: 71px;
  height: 153px;
  text-align: left;
  font: normal normal bold 128px/128px Helvetica Neue;
  color: #2EB738;
  text-shadow: 4px 3px 0px #F0F0F0;
}

.small-number {
  text-align: left;
  margin-left: 40px;
  margin-bottom: 8px;
  width: 105px;
  height: 33px;
  font: normal normal normal 24px/24px Helvetica Neue;
  letter-spacing: 0px;
  box-sizing: border-box;
  color: #2EB738;
}

footer {
  background-color: #2EB738;
  height: 34px;
  padding: 8px 85px 8px 843px;
}

.footer {
  width: '352px';
  font: normal normal normal 16px/24px Helvetica Neue;
  letter-spacing: 0px;
  color: #F0F0F0;
  height: 18px;
}

.logo {
  max-width: 350px;
  height: 366px;
}

.inside-logo {
  width: 280px;
  height: 338px;
  margin: 14px 21px;
  border-top: 1px solid #2EB738;
  border-bottom: 1px solid #2EB738;
}

.x-box {
  width: 14px;
  height: 28px;
  text-align: left;
  font: normal normal normal 24px/24px Helvetica Neue;
  letter-spacing: 0px;
  color: #2EB738;
}

.logo-text-1 {
  text-align: center;
  font: normal normal 500 56px/84px 'PingFang TC';
  letter-spacing: 0px;
  color: #2EB738;
  opacity: 1;
}

.logo-text-2 {
  text-align: center;
  font: normal normal normal 24px/36px Helvetica Neue;
  letter-spacing: 0px;
  color: #2EB738;
  opacity: 1;
}